.cartao {
    width: 440px;
    height: 120px;
    position: relative;
    padding: 8px;
    margin: 10px;
    background-color: #fff;
    font-weight: 500;
}

.icone-status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.chamando {
    background-color: #09420e;
    animation: piscar 0.5s linear infinite;
}

.border-chamando {
    border: 3px solid #0a6127;
    border-radius: 5px;
}

.ocupado {
    background-color: #ff0000;
}

.border-ocupado {
    border: 3px solid #ff0000;
    border-radius: 5px;
}

.disponivel {
    background-color: #04ea04;
}

.border-disponivel {
    border: 3px solid #04ea04;
    border-radius: 5px;
}

.pausa {
    background-color: #eb6e25;
}

.border-pausa {
    border: 3px solid #eb6e25;
    border-radius: 5px;
}

.indisponivel {
    background-color: rgb(75, 75, 75);
}

.border-indisponivel {
    border: 3px solid rgb(75, 75, 75);
    border-radius: 5px;
}

@keyframes piscar {
    50% {
        opacity: 0;
    }
}